* {
  box-sizing: border-box;
  color: #fdfdfd;
}
  
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

main {
  display: block;
}

h1,
h2 {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

.header h1 {
  color: #221f44;
}

.content {
  flex: auto;
}

.main-content {
  margin-top: 2.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  background-color: #221f44;
  color: #fdfdfd;
}

.footer-name {
  font-size: 0.9em;
  margin-top: 10px;
}

.footer-email {
  font-size: 0.8rem;
}
